

/*--------------------------------*/
/*Gallery*/
/*--------------------------------*/

div.img {
    margin: 10px;
    border: 3px solid #ccc;
    float: left;
    width: 271px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}